## Assignment

In [1]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4
0        1  Paras Sharma   24   24   20   22
1        2   Mohan Kumar   18   17   18   22
2        3   Virat Kohli   21   22   19   24
3        4      Sugandha   22   20   24   20

### Q1

In [2]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.loc[2])

RollNo.              3
Name       Virat Kohli
UT1                 21
UT2                 22
UT3                 19
UT4                 24
Name: 2, dtype: object

### Q2

In [3]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.loc[3])

RollNo.           4
Name       Sugandha
UT1              22
UT2              20
UT3              24
UT4              20
Name: 3, dtype: object

### Q3

In [4]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.count())

RollNo.    4
Name       4
UT1        4
UT2        4
UT3        4
UT4        4
dtype: int64

### Q4

In [5]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.columns)

Index(['RollNo.', 'Name', 'UT1', 'UT2', 'UT3', 'UT4'], dtype='object')

### Q5

In [6]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
a['Grade']=['A','B','A','A']
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4 Grade
0        1  Paras Sharma   24   24   20   22     A
1        2   Mohan Kumar   18   17   18   22     B
2        3   Virat Kohli   21   22   19   24     A
3        4      Sugandha   22   20   24   20     A

### Q6

In [7]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.head(3))

   RollNo.          Name  UT1  UT2  UT3  UT4
0        1  Paras Sharma   24   24   20   22
1        2   Mohan Kumar   18   17   18   22
2        3   Virat Kohli   21   22   19   24

### Q7

In [8]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a[2:3])

   RollNo.         Name  UT1  UT2  UT3  UT4
2        3  Virat Kohli   21   22   19   24

### Q8

In [9]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
a['Total']=a['UT1']+a['UT2']+a['UT3']+a['UT4']
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4  Total
0        1  Paras Sharma   24   24   20   22     90
1        2   Mohan Kumar   18   17   18   22     75
2        3   Virat Kohli   21   22   19   24     86
3        4      Sugandha   22   20   24   20     86

### Q9

In [10]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
a.drop(3)
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4
0        1  Paras Sharma   24   24   20   22
1        2   Mohan Kumar   18   17   18   22
2        3   Virat Kohli   21   22   19   24
3        4      Sugandha   22   20   24   20

### Q10

In [11]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.shape)
print(a.ndim)

(4, 6)
2

### Q11

In [12]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.size)

24

### Q12

In [13]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.isna())

   RollNo.   Name    UT1    UT2    UT3    UT4
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False

### NEW

In [14]:
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
print(a)

           UT1  Half Yearly  UT2  Final
0  Sharad   57           83   49     89
1   Mansi   86           67   87     92
2  Kanika   92           78   45     66
3  Ramesh   52           84   55     78
4  Ankita   93           75   87     69
5  Pranay   98           79   88     96

In [24]:
#Q1
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
b=a.rename({"":"RollNo."},axis='columns')
b["RollNo."]=[1,2,3,4,5,6]
print(b)

   RollNo.  UT1  Half Yearly  UT2  Final
0        1   57           83   49     89
1        2   86           67   87     92
2        3   92           78   45     66
3        4   52           84   55     78
4        5   93           75   87     69
5        6   98           79   88     96

In [26]:
#Q2
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
b=a.rename({"UT1":"Term1","Half Yearly":"Term2","UT2":"Term3","Final":"Term4"},axis=1)
print(b)

           Term1  Term2  Term3  Term4
0  Sharad     57     83     49     89
1   Mansi     86     67     87     92
2  Kanika     92     78     45     66
3  Ramesh     52     84     55     78
4  Ankita     93     75     87     69
5  Pranay     98     79     88     96

In [28]:
#Q3
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
a.loc[:,'Grade']=['A','A','B','A','C','B']
print(a)

           UT1  Half Yearly  UT2  Final Grade
0  Sharad   57           83   49     89     A
1   Mansi   86           67   87     92     A
2  Kanika   92           78   45     66     B
3  Ramesh   52           84   55     78     A
4  Ankita   93           75   87     69     C
5  Pranay   98           79   88     96     B

In [36]:
#Q4
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
a.loc[:,'Grade']=['A','A','B','A','C','B']
a.loc[7]=["",49,56,75,58,'B']
print(a)

           UT1  Half Yearly  UT2  Final Grade
0  Sharad   57           83   49     89     A
1   Mansi   86           67   87     92     A
2  Kanika   92           78   45     66     B
3  Ramesh   52           84   55     78     A
4  Ankita   93           75   87     69     C
5  Pranay   98           79   88     96     B
7           49           56   75     58     B

In [41]:
#Q4
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
                               "Final":[89,92,66,78,69,96]})
a.dropna(0)
print(a)

           UT1  Half Yearly  UT2  Final
0  Sharad   57           83   49     89
1   Mansi   86           67   87     92
2  Kanika   92           78   45     66
3  Ramesh   52           84   55     78
4  Ankita   93           75   87     69
5  Pranay   98           79   88     96

/tmp/ipykernel_14119/1909769732.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  a.dropna(0)