## Assignment

In [1]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4
0        1  Paras Sharma   24   24   20   22
1        2   Mohan Kumar   18   17   18   22
2        3   Virat Kohli   21   22   19   24
3        4      Sugandha   22   20   24   20

### Q1

In [2]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.loc[2])

RollNo.              3
Name       Virat Kohli
UT1                 21
UT2                 22
UT3                 19
UT4                 24
Name: 2, dtype: object

### Q2

In [3]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.loc[3])

RollNo.           4
Name       Sugandha
UT1              22
UT2              20
UT3              24
UT4              20
Name: 3, dtype: object

### Q3

In [4]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.count())

RollNo.    4
Name       4
UT1        4
UT2        4
UT3        4
UT4        4
dtype: int64

### Q4

In [5]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.columns)

Index(['RollNo.', 'Name', 'UT1', 'UT2', 'UT3', 'UT4'], dtype='object')

### Q5

In [6]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
a['Grade']=['A','B','A','A']
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4 Grade
0        1  Paras Sharma   24   24   20   22     A
1        2   Mohan Kumar   18   17   18   22     B
2        3   Virat Kohli   21   22   19   24     A
3        4      Sugandha   22   20   24   20     A

### Q6

In [7]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.head(3))

   RollNo.          Name  UT1  UT2  UT3  UT4
0        1  Paras Sharma   24   24   20   22
1        2   Mohan Kumar   18   17   18   22
2        3   Virat Kohli   21   22   19   24

### Q7

In [8]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a[2:3])

   RollNo.         Name  UT1  UT2  UT3  UT4
2        3  Virat Kohli   21   22   19   24

### Q8

In [9]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
a['Total']=a['UT1']+a['UT2']+a['UT3']+a['UT4']
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4  Total
0        1  Paras Sharma   24   24   20   22     90
1        2   Mohan Kumar   18   17   18   22     75
2        3   Virat Kohli   21   22   19   24     86
3        4      Sugandha   22   20   24   20     86

### Q9

In [10]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
a.drop(3)
print(a)

   RollNo.          Name  UT1  UT2  UT3  UT4
0        1  Paras Sharma   24   24   20   22
1        2   Mohan Kumar   18   17   18   22
2        3   Virat Kohli   21   22   19   24
3        4      Sugandha   22   20   24   20

### Q10

In [11]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.shape)
print(a.ndim)

(4, 6)
2

### Q11

In [12]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.size)

24

### Q12

In [13]:
import pandas as pd
a=pd.DataFrame({"RollNo.":[1,2,3,4],"Name":["Paras Sharma","Mohan Kumar","Virat Kohli","Sugandha"],
                "UT1":[24,18,21,22],"UT2":[24,17,22,20],"UT3":[20,18,19,24],"UT4":[22,22,24,20]})
print(a.isna())

   RollNo.   Name    UT1    UT2    UT3    UT4
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False

### NEW

In [14]:
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
print(a)

           UT1  Half Yearly  UT2  Final
0  Sharad   57           83   49     89
1   Mansi   86           67   87     92
2  Kanika   92           78   45     66
3  Ramesh   52           84   55     78
4  Ankita   93           75   87     69
5  Pranay   98           79   88     96

In [24]:
#Q1
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
b=a.rename({"":"RollNo."},axis='columns')
b["RollNo."]=[1,2,3,4,5,6]
print(b)

   RollNo.  UT1  Half Yearly  UT2  Final
0        1   57           83   49     89
1        2   86           67   87     92
2        3   92           78   45     66
3        4   52           84   55     78
4        5   93           75   87     69
5        6   98           79   88     96

In [26]:
#Q2
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
b=a.rename({"UT1":"Term1","Half Yearly":"Term2","UT2":"Term3","Final":"Term4"},axis=1)
print(b)

           Term1  Term2  Term3  Term4
0  Sharad     57     83     49     89
1   Mansi     86     67     87     92
2  Kanika     92     78     45     66
3  Ramesh     52     84     55     78
4  Ankita     93     75     87     69
5  Pranay     98     79     88     96

In [28]:
#Q3
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
a.loc[:,'Grade']=['A','A','B','A','C','B']
print(a)

           UT1  Half Yearly  UT2  Final Grade
0  Sharad   57           83   49     89     A
1   Mansi   86           67   87     92     A
2  Kanika   92           78   45     66     B
3  Ramesh   52           84   55     78     A
4  Ankita   93           75   87     69     C
5  Pranay   98           79   88     96     B

In [36]:
#Q4
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
               "Final":[89,92,66,78,69,96]})
a.loc[:,'Grade']=['A','A','B','A','C','B']
a.loc[7]=["",49,56,75,58,'B']
print(a)

           UT1  Half Yearly  UT2  Final Grade
0  Sharad   57           83   49     89     A
1   Mansi   86           67   87     92     A
2  Kanika   92           78   45     66     B
3  Ramesh   52           84   55     78     A
4  Ankita   93           75   87     69     C
5  Pranay   98           79   88     96     B
7           49           56   75     58     B

In [41]:
#Q4
import pandas as pd
a=pd.DataFrame({"":["Sharad","Mansi","Kanika","Ramesh","Ankita","Pranay",],
                "UT1":[57,86,92,52,93,98],"Half Yearly":[83,67,78,84,75,79],"UT2":[49,87,45,55,87,88],
                               "Final":[89,92,66,78,69,96]})
a.dropna(0)
print(a)

           UT1  Half Yearly  UT2  Final
0  Sharad   57           83   49     89
1   Mansi   86           67   87     92
2  Kanika   92           78   45     66
3  Ramesh   52           84   55     78
4  Ankita   93           75   87     69
5  Pranay   98           79   88     96

/tmp/ipykernel_14119/1909769732.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  a.dropna(0)

In [17]:
#Q1
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("Coal Public Data-2013.csv")
print(a)

    Year  MSHA ID                       Mine_Name Production Labor_Hours
0   2013   103381            Tacoa Highwall Miner     56,004      22,392
1   2013   103404                Reid School Mine     28,807      28,447
2   2013   100759  North River #1 Underground Min  14,40,115    4,74,784
3   2013   103246                      Bear Creek     87,587      29,193
4   2013   103451                     Knight Mine   1,47,499      46,393
5   2013   103433              Crane Central Mine     69,339      47,195
6   2013   100329                    Concord Mine          0    1,44,002
7   2013   100851                  Oak Grove Mine  22,69,014   10,01,809
8   2013   102901                Shoal Creek Mine          0      12,396
9   2013   102901                Shoal Creek Mine  14,53,024   12,37,415
10  2013   103180             Sloan Mountain Mine   3,27,780    1,96,963
11  2013   103182                        Fishtrap   1,75,058      87,314
12  2013   103285                     Narley Mine   1,54,861      90,584
13  2013   103332                   Powhatan Mine   1,40,521      61,394
14  2013   103375                    Johnson Mine        580       1,900
15  2013   103419               Maxine-Pratt Mine   1,25,824    1,07,469
16  2013   103432                   Skelton Creek      8,252         220
17  2013   103437         Black Warrior Mine No 1   1,45,924      70,926
18  2013   102976   Piney Woods Preparation Plant          0      14,828
19  2013   102976   Piney Woods Preparation Plant          0      23,193
20  2013   103380                          Calera          0      12,621
21  2013   103380                          Calera          0       1,402
22  2013   103422                 Clark No 1 Mine   1,22,727    1,40,250
23  2013   103467             Helena Surface Mine     59,664      30,539
24  2013   101247                       No 4 Mine  26,22,528   15,51,141
25  2013   101401                       No 7 Mine  54,05,412   24,64,719
26  2013   103172  Searles Mine No. 2, 3, 4, 5, 6   2,58,078    1,19,542
27  2013   103179             Fleetwood Mine No 1     75,937      63,745
28  2013   103303                    Shannon Mine   3,17,491    1,64,388
29  2013   103323                   Deerlick Mine   1,33,452      46,381
30  2013   103364           Brc Alabama No. 7 Llc          0      14,324
31  2013   103436                Swann's Crossing   1,37,511      77,190
32  2013   100347                    Choctaw Mine   5,37,429    2,15,295
33  2013   101362                 Manchester Mine   2,19,457    1,16,914
34  2013   102996                  Jap Creek Mine   3,75,715    1,64,093
35  2013   103155              Corinth Prep Plant          0      27,996
36  2013   103155              Corinth Prep Plant          0      51,994
37  2013   103195     Mccollum/Sparks Branch Mine     71,910      17,411
38  2013   103342             Reese's Branch Mine   2,63,888    1,15,123
39  2013   103370             Cresent Valley Mine      2,860         621
40  2013   103372                 Cane Creek Mine     66,258      32,401
41  2013   103376                      Town Creek   2,99,167    1,76,499
42  2013   103389                Carbon Hill Mine     76,241      84,966
43  2013   103410                Coal Valley Mine   4,07,841    1,58,591
44  2013   103423                Dutton Hill Mine     37,275       9,162
45  2013  1519322                         Ghm #25     25,054       3,108
46  2013   103321                  Poplar Springs   1,89,370      76,366
47  2013   103358                       Old Union   2,84,563    1,61,805
48  2013  5000030                        Usibelli  16,31,584    2,86,079
49  2013   201195                    Kayenta Mine  76,02,722   10,15,333

In [16]:
#Q2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("Coal Public Data-2013.csv")
print(a.dtypes)

Year            int64
MSHA ID         int64
Mine_Name      object
Production     object
Labor_Hours    object
dtype: object

In [14]:
# Q3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("Coal Public Data-2013.csv")
print(a['Year'])

0     2013
1     2013
2     2013
3     2013
4     2013
5     2013
6     2013
7     2013
8     2013
9     2013
10    2013
11    2013
12    2013
13    2013
14    2013
15    2013
16    2013
17    2013
18    2013
19    2013
20    2013
21    2013
22    2013
23    2013
24    2013
25    2013
26    2013
27    2013
28    2013
29    2013
30    2013
31    2013
32    2013
33    2013
34    2013
35    2013
36    2013
37    2013
38    2013
39    2013
40    2013
41    2013
42    2013
43    2013
44    2013
45    2013
46    2013
47    2013
48    2013
49    2013
Name: Year, dtype: int64

In [22]:
#Q4
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("Coal Public Data-2013.csv")
print(a.max())
print(a.min())
print(a.sum())
print(a.mean())

Year               2013
MSHA ID         5000030
Mine_Name      Usibelli
Production       87,587
Labor_Hours      90,584
dtype: object
Year                 2013
MSHA ID            100329
Mine_Name      Bear Creek
Production              0
Labor_Hours      1,07,469
dtype: object
Year                                                      100650
MSHA ID                                                 11558442
Mine_Name      Tacoa Highwall MinerReid School MineNorth Rive...
Production     56,00428,80714,40,11587,5871,47,49969,339022,6...
Labor_Hours    22,39228,4474,74,78429,19346,39347,1951,44,002...
dtype: object
Year         2013.00
MSHA ID    231168.84
dtype: float64

/tmp/ipykernel_6482/977374319.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(a.mean())