# PANDAS ASSIGNMENT

### Ques 1 Name and Meanings Dictionary => Series

In [5]:
import pandas as pd
a={"Annany":"Unique","Aryan":"Supreme","Aarav":"Peacelover","Pankaj":"Lotus","Aditya":"Sun",
   "Vasudha":"Earth","Rajesh":"King","Puneet":"Pure","Vanshika":"Flute","Awadhi":"Duration"}
b=pd.Series(a)
print(b)

Annany          Unique
Aryan          Supreme
Aarav       Peacelover
Pankaj           Lotus
Aditya             Sun
Vasudha          Earth
Rajesh            King
Puneet            Pure
Vanshika         Flute
Awadhi        Duration
dtype: object

### Ques 2 State and Language Dictionary => Series

In [6]:
import pandas as pd
a={"Himachal Pradesh":"Pahadi","Punjab":"Punjabi","Karnataka ":"Kannada","Tamil Nadu":"Tamil","Haryana":"Harayanvi",
   "Gujrat":"Gujarati","Rajasthan":"Rajasthani","Bihar":"Bihari","Assam":"Assamese","Maharashtra":"Marathi"}
b=pd.Series(a)
print(b)

Himachal Pradesh        Pahadi
Punjab                 Punjabi
Karnataka              Kannada
Tamil Nadu               Tamil
Haryana              Harayanvi
Gujrat                Gujarati
Rajasthan           Rajasthani
Bihar                   Bihari
Assam                 Assamese
Maharashtra            Marathi
dtype: object

### Ques 3 Mobile Generation

In [4]:
import pandas as pd
a={"I":"Snapdragon 10","II":"SnapDragon 200","III":"Exynos30"
   ,"IV":"108 Mega pixel","V":"1Tb Storage","VI":"M1 chip","VII":"15Gb ram",
   "VIII":"wirelesCharging","IX":"5gconnectivity","X":"Pc Hardware connectivity"}
b=pd.Series(a)
print(b)

I                  Snapdragon 10
II                SnapDragon 200
III                     Exynos30
IV                108 Mega pixel
V                    1Tb Storage
VI                       M1 chip
VII                     15Gb ram
VIII             wirelesCharging
IX                5gconnectivity
X       Pc Hardware connectivity
dtype: object

### Ques 4 Roll no Student dictionary =>Series

In [17]:
import pandas as pd
import numpy as np
a=np.array(["Aarav","Namish","Annany","Aryan","Bhavesh","Puneet","Viraj","Kritika"
            ,"Ishita","Vedant"])
b=pd.Series(a,index=range(1,11))
print(b)

1       Aarav
2      Namish
3      Annany
4       Aryan
5     Bhavesh
6      Puneet
7       Viraj
8     Kritika
9      Ishita
10     Vedant
dtype: object

### Ques 5 Marks stud from a scalar value 50 for 10 students.

In [2]:
import pandas as pd
import numpy as np
b=pd.Series(np.full([10],50))
print(b)

0    50
1    50
2    50
3    50
4    50
5    50
6    50
7    50
8    50
9    50
dtype: int64

### Ques 6 Storing even numbers from 1 to 20 with default indexes.

In [20]:
import pandas as pd
import numpy as np
b=pd.Series(np.arange(0,21,2))
print(b)

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64

### Ques 7 Storing following percentages of 5 students stored in the form of a list with indexes form 1 to 5.
               90 85 78.5 90.5 56.5

In [19]:
import pandas as pd
import numpy as np
a=[90 ,85 ,78.5 ,90.5 ,56.5]
b=pd.Series(a,index=[1,2,3,4,5])
print(b)

1    90.0
2    85.0
3    78.5
4    90.5
5    56.5
dtype: float64

### Ques 8 Storing value 100 with indexes as odd numbers from 1 to 10

In [24]:
import pandas as pd
import numpy as np
b=pd.Series(np.full([10],100),np.arange(1,11))
print(b)

1     100
2     100
3     100
4     100
5     100
6     100
7     100
8     100
9     100
10    100
dtype: int64

### Ques